html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #4b4b4b;
}
body {
  padding: 2em;
  background: linear-gradient(90deg, #e8dada 50%, rgba(242, 242, 242, 1) 50%);
}
h1, h2, h3, h4 {
  display: inline-block;
  font-weight: 300;
  margin: 0.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
 font-size: 2.5em;
}
p {
  margin: 0;
}
img {
  margin: auto 0.5em;
}
button {
  margin: auto;
  background-color:transparent;
  border: none;
  padding: 0;       
}
.flex {
  display: flex;
  justify-content: center;
}
.flex-col {
  display: flex;
  justify-content: space-between;
}
.global-score{
  color: #ff6666;
  font-size: 4em;
  font-weight: 200;
  margin-block-end: 0.5em;
  margin-block-start: 0;
}
.dice-bg {
  width: 6em;
  height: 6em;
  background-color: white;
  box-shadow:1px 1px 12px thistle;
  margin: auto;

}
.dice-bg img {
  width: auto;
  margin: 0;
}
.current {
  background-color: #ff6666;
  font-size: 1em;
  padding: 0.5em;
  margin: auto;
  width: 5em;
}
.current span {
  color: white;
  font-size: 1.5em;
}
.actions {
margin: 2em auto;
}

@media screen and (min-width: 48em) {
  .flex-col {
    flex-direction: column;
  }
  .actions {
    margin: 0;
  }
  .global-score{
    color: #ff6666;
    font-size: 4em;
    font-weight: 300;
    margin-block-end: 1.5em;
    margin-block-start: 0;
  }
  .active {
    width: 0.75em;
    height: 0.75em;
    border: none;
    background-color:#ff6666;
    border-radius: 50px;
    text-align: center;
    margin: auto 5px;
  }
}